body {
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fleche-1 {
    position: absolute;
    transform: translate(130px, 100px) rotate(60);
}

@font-face {
    font-family: 'Fairwater Script Bold';
    src: url('../font/FairwaterScriptBold.ttf');
}

body span {
    font-family: 'Fairwater Script Bold';
}

.quiz-list {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 500px;
    height: 300px;
    border-radius: 40px;
    background-image: url("../image/unknown.png");
}

.quiz {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    position: absolute;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.08,.52,.52,1);
    transition-duration: 200ms;
}


.quiz[data-current="after"] {
    transform: translateX(100%);
}
.quiz[data-current="before"] {
    transform: translateX(-100%);
}

.quiz-question {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-question span {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #000;
}

.quiz-container-reponse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.quiz-container-reponse .quiz-answer {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #000;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.quiz-answer:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.quiz-answer:active {
    background-color: rgba(0, 0, 0, 0.2);
}
.quiz-answer[data-current="answer"] {
    border: 2px solid red;
}




